{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
   <table class="table table-striped">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Action</th>
                <th>Shares</th>
                <th>Price</th>
                <th>Balance Delta</th>
                <th>Date Transacted</th>
            </tr>
        </thead>
        <tbody>

                {% for trans in history %}
                <tr>
                    <td> {{trans['stock']}} </td>
                    <td>
                    {% if trans['nshares']|int < 0 %}
                        {{"Sold Shares"}}
                    {% else %}
                        {{"Bought Shares"}}
                    {% endif %}
                    </td>
                    <td> {{trans['nshares']}} </td>
                    <td> {{trans['price'] | usd}} </td>
                    <td> {{(-trans['nshares'] * trans['price']) | usd}} </td>
                    <td> {{trans['date']}} </td>
                </tr>
                {% endfor %}

        </tbody>
    </table>
{% endblock %}
